# Ignore example processed files
examples/**/*.json

.vscode/*
*.egg-info/*
**__pycache__/*
*.pyc
.cache/*
*.pdf
**/.pytest_cache/*
.coverage*
coverage/

# Tex ignore
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.bib.bak
*.bbl
*.blg

**/*Word2Vec*

# Ignore pypi files
dist
build